# exportPattern("^[[:alpha:]]+")

export(fcs_join)
export(fcs_reduce_dimensions)
export(fcs_cluster)
export(fcs_calculate_abundance)
export(fcs_report_abundance)
export(fcs_cluster_heatmap)
export(fcs_plot_heatmap)
export(fcs_plot_reduction)
export(fcs_plot_distribution)
export(fcs_trex)
export(fcs_select_islands)
export(fcs_project_parameters)
export(fcs_subset)
export(fcs_remove_parameters)
export(fcs_write.FCS)
export(fcs_plot_reduction_difference)
export(fcs_test_clusters)
export(fcs_as.hyperlog)
export(fcs_load_data)
export(fcs_plot_reduction_density)
export(fcs_batch_correction)
export(fcs_pca)
export(fcs_update)
import(uwot)
import(Rtsne)
import(FNN)
import(Matrix)
import(igraph)
import(circlize)
import(grid)
import(ggplot2)
import(ggpubr)
import(ggrastr)
import(ggridges)
import(dbscan)
import(ggrepel)
import(viridis)
import(grid)
import(gridExtra)
import(RColorBrewer)
import(shiny)
import(shinythemes)
import(dbscan)
import(metR)
import(cyCombine)
import(harmony)
