# exportPattern("^[[:alpha:]]+")

export(fcs_join)
export(fcs_reduce_dimensions)
export(fcs_cluster)
export(fcs_calculate_abundance)
export(fcs_report_abundance)
export(fcs_cluster_heatmap)
export(fcs_plot_heatmap)
export(fcs_plot_reduction)
export(fcs_plot_distribution)
export(fcs_trex)
export(fcs_select_islands)
export(fcs_project_parameters)
export(fcs_subset)
export(fcs_remove_parameters)